@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  font-family: "poppins", sans-serif;
}

body {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shadow-custom {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.overlay-gradient-b {
  background: linear-gradient(to bottom, #000000 11%, rgba(0, 0, 0, 0) 100%);
}
.overlay-gradient-b-intro {
  background: linear-gradient(to bottom, #000000 5%, rgba(0, 0, 0, 0) 80%);
}
.overlay-gradient-l {
  background: linear-gradient(89.8deg, #000000 7%, rgba(0, 0, 0, 0) 50%);
}
.overlay-gradient-r {
  background: linear-gradient(-89.8deg, #000000 7%, rgba(0, 0, 0, 0) 50%);
}
.overlay-gradient-t {
  background: linear-gradient(to top, #000000 11%, rgba(0, 0, 0, 0) 100%);
}
.overlay-gradient-t-intro {
  background: linear-gradient(to top, #000000 1%, rgba(0, 0, 0, 0) 100%);
}

.footer-links {
  & > div li {
    padding: 16px 8px;
    a:not(.first) {
      padding-left: 8px;
    }

    @media (min-width: 640px) {
      a:not(.first) {
        border-left: 1px solid #fff;
      }
    }
  }
}

.campaign-slider .swiper-button-prev,
.campaign-slider .swiper-button-next {
  display: none;
  background: #000000;
  height: 35px !important;
  width: 35px !important;
  border-radius: 50%;
  z-index: 10 !important;
  &::after {
    font-size: 13px !important;
    font-weight: 700 !important;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .campaign-slider .swiper-button-prev,
  .campaign-slider .swiper-button-next {
    display: block;
  }
}

.campaign-slider .swiper-button-next {
  right: 5px !important;
  transform: translateX(-100%);
  margin-top: -50px !important;
}
.campaign-slider .swiper-button-prev {
  left: -15px !important;
  transform: translateX(100%);
  margin-top: -50px !important;
}

#testimonialsSlider {
  .swiper-wrapper.swiper {
    justify-content: center;
  }
}

#sairaVideo .play button {
  background: #d2001a;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  #sairaVideo .play button {
    width: 75px;
    height: 75px;
  }
}

#reviewsSlider {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    background: #000;
    height: 55px !important;
    width: 55px !important;
    border-radius: 50%;
    z-index: 10 !important;
    &::after {
      font-size: 18px !important;
      font-weight: 700 !important;
      color: #fff;
    }
  }

  .swiper-pagination {
    width: 120px !important;
    height: 20px !important;
    position: absolute !important;
    bottom: 15% !important;
    left: 53% !important;
    display: none;
  }

  @media (min-width: 600px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
    }
  }

  @media (min-width: 1024px) {
    .swiper-pagination {
      display: flex;
    }
  }

  .swiper-pagination-bullet {
    background-color: #c4c4c4 !important;
    opacity: 1 !important;
    width: 12px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    background-color: #f9c933 !important;
  }
}

#introSlider {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    background: transparent;
    height: 55px !important;
    width: 55px !important;
    border-radius: 50%;
    z-index: 10 !important;
    &::after {
      font-size: 25px !important;
      font-weight: 700 !important;
      color: #fff;
    }
  }

  .swiper-pagination {
    width: 120px !important;
    height: 20px !important;
    position: absolute !important;
    bottom: 20px !important;
    left: 50% !important;
    transform: translateX(-50%);
    display: none;
  }

  @media (min-width: 600px) {
    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
    }
  }

  @media (min-width: 1024px) {
    .swiper-pagination {
      display: flex;
    }
  }

  .swiper-pagination-bullet {
    background-color: #c4c4c4 !important;
    opacity: 1 !important;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: #f9c933 !important;
  }
}

.impact-grid {
  display: grid;
  max-width: 675px;
  // grid-auto-flow: column;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, 120px);
  grid-gap: 15px;
  place-content: start;

  @media (min-width: 480px) {
    grid-template-columns: repeat(3, auto);
  }
  @media (min-width: 600px) {
    grid-template-columns: repeat(4, auto);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(5, auto);
  }
}

// Peoples animation
#peopleSlider-container {
  .people-gridContainer {
    overflow: hidden;
  }

  h3.people-title {
    top: 0;
  }

  .swiper {
    height: 100%;
  }

  @media (max-width: 1200px) and (min-height: 900px) {
    .people-gridContainer {
      height: 80vh;
    }
  }

  .swiper h5 {
    position: absolute;
    top: 9vh;
    width: 100%;
    text-align: center;
    transition: all 0.95s ease-in-out;
  }

  .text-before {
    transform: translateY(20px);
    opacity: 0;
  }
  .text-after {
    transform: translateY(-20px);
    opacity: 1;
  }

  .swiper-pagination {
    display: flex;
    flex-direction: row-reverse;
    gap: 6px;
    opacity: 1;
    width: 120px;
    height: 20px;
    position: absolute;
    top: 18vh;
    z-index: 1000;
    left: 50%;
    margin-left: -80px;
  }

  .swiper-pagination-bullet {
    background-color: #c4c4c4 !important;
    opacity: 1 !important;
    width: 13px !important;
    height: 13px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #f9c933 !important;
  }

  .people-grid {
    display: grid;
    justify-content: center;
    column-gap: 15px;
    grid-template-columns: repeat(2, 160px);
  }

  .people-item {
    width: 160px;
    height: 160px;
    border-radius: 15px;
    & img {
      width: 160px;
      height: 160px;
      border-radius: 15px;
    }
  }
  .people-item.item-diff {
    width: 160px;
    height: 335px;
    & img {
      width: 160px;
      height: 335px;
    }
  }

  .before-anim {
    transform: translateY(20px);
    opacity: 0;
  }
  .after-anim {
    transform: translateY(-20px);
    opacity: 1;
  }

  .people-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.95s ease-in-out;

    &:nth-child(1) {
      margin-top: 26vh;
      transition-delay: 0;
    }

    &:nth-child(2) {
      margin-top: 26vh;
      transition-delay: 0.2s;
    }

    @media (min-width: 1024px) {
      &:nth-child(1) {
        margin-top: 35vh;
        transition-delay: 0;
      }

      &:nth-child(2) {
        margin-top: 45vh;
        transition-delay: 0.2s;
      }
    }

    &:nth-child(3) {
      margin-top: 55vh;
      transition-delay: 0.35s;
    }

    &:nth-child(4) {
      margin-top: 65vh;
      transition-delay: 0.5s;
    }

    &:nth-child(5) {
      margin-top: 55vh;
      transition-delay: 0.65s;
    }

    &:nth-child(6) {
      margin-top: 45vh;
      transition-delay: 0.8s;
    }

    &:nth-child(7) {
      margin-top: 35vh;
      transition-delay: 0.95s;
    }
  }

  @media (min-width: 1024px) {
    .people-item {
      width: 236px;
      height: 350px;
      & img {
        width: 236px;
        height: 350px;
      }
    }
    .people-grid {
      grid-template-columns: repeat(7, 236px);
    }
    h3.people-title {
      top: 25vh;
    }
    .swiper-pagination {
      top: 50vh !important;
    }
    .swiper h5 {
      top: 35vh;
    }
  }

  @media (min-height: 700px) {
    h3.people-title {
      top: 1vh;
    }
  }

  @media (min-height: 700px) and (min-width: 1024px) {
    h3.people-title {
      top: 25vh;
    }
  }
  @media (min-height: 800px) and (min-width: 1024px) {
    h3.people-title {
      top: 26vh;
    }
  }
  @media (min-height: 900px) and (min-width: 1024px) {
    h3.people-title {
      top: 29vh;
    }
  }
}

// radial progress bar
.circle-wrap {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  position: relative;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 68px;
  height: 68px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 34px, 68px, 0px);
}

.circle1 .mask .fill {
  background-color: blue;
}
.circle2 .mask .fill {
  background-color: aqua;
}
.circle3 .mask .fill {
  background-color: red;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 68px, 68px, 32px);
}
.circle1 {
  .mask.full,
  .circle .fill {
    animation: fill1 ease-in-out 3s;
    transform: rotate(135deg);
  }
  @keyframes fill1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
}

.circle2 {
  .mask.full,
  .circle .fill {
    animation: fill2 ease-in-out 3s;
    transform: rotate(20deg);
  }
  @keyframes fill2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }
}

.circle3 {
  .mask.full,
  .circle .fill {
    animation: fill3 ease-in-out 3s;
    transform: rotate(40deg);
  }
  @keyframes fill3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(40deg);
    }
  }
}

.circle-wrap .inside-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000000;
  line-height: 120px;
  margin-top: 14px;
  margin-left: 14px;
  color: #ffffff;
  position: absolute;
  z-index: 100;
  font-size: 13px;
}